This dataset contains descriptive details of residential properties on the real estate market in Washington, DC, in 2018. They were built from 1947 to the present time. It lists the features in 49 columns. There is some missing data. This is a high price area - mean price is $931351.59. They are either semi-detached or row houses. Condition varies from 'fair' to 'very good'. Each one has a range of 1-4 condominium units. There are no condominiums on the market in zip code 20009.

Question: Identify predictive features for the price of a house.  What attributes are most relevant?

In [1]:
#Import dataset DC_Properties.csv

import pandas as pd
import numpy as np

location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

C:\Users\Edel\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
#show the column names in the dataset
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [4]:
#show the data type of each column
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [5]:
#number of non-NA values
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [5]:
#Create a new dataframe with only the data that I want to consider 
df2 = df[["PRICE","ROOMS","BEDRM","BATHRM","HF_BATHRM","KITCHENS","NUM_UNITS","SALE_NUM","GBA","AYB","ZIPCODE","LATITUDE","LONGITUDE"]]
df2.head()

,PRICE,ROOMS,BEDRM,BATHRM,HF_BATHRM,KITCHENS,NUM_UNITS,SALE_NUM,GBA,AYB,ZIPCODE,LATITUDE,LONGITUDE
0,1095000.0,8,4,4,0,2.0,2.0,1,2522.0,1910.0,20009.0,38.914680,-77.040832
1,NaN,11,5,3,1,2.0,2.0,1,2567.0,1898.0,20009.0,38.914683,-77.040764
2,2100000.0,9,5,3,1,2.0,2.0,3,2522.0,1910.0,20009.0,38.914684,-77.040678
3,1602000.0,8,5,3,1,2.0,2.0,1,2484.0,1900.0,20009.0,38.914683,-77.040629
4,NaN,11,3,2,1,1.0,1.0,1,5255.0,1913.0,20009.0,38.914383,-77.039361

In [7]:
#Create a correlation table to determine which variables to include in regression 
df2.corr()

,PRICE,ROOMS,BEDRM,BATHRM,HF_BATHRM,KITCHENS,NUM_UNITS,SALE_NUM,GBA,AYB,ZIPCODE,LATITUDE,LONGITUDE
PRICE,1.000000,-0.038241,-0.043331,-0.006536,-0.013113,0.045213,-0.000469,-0.015942,0.600576,0.056041,0.001467,0.044505,-0.095247
ROOMS,-0.038241,1.000000,0.841309,0.677751,0.353825,0.525796,0.524724,-0.034828,0.679725,-0.219367,-0.053109,0.120238,0.006756
BEDRM,-0.043331,0.841309,1.000000,0.655563,0.375568,0.346781,0.330551,-0.024835,0.631736,-0.242955,-0.071962,0.144971,0.028338
BATHRM,-0.006536,0.677751,0.655563,1.000000,0.248759,0.423178,0.403431,0.068399,0.682977,-0.039087,-0.063410,0.130588,-0.184810
HF_BATHRM,-0.013113,0.353825,0.375568,0.248759,1.000000,-0.132895,-0.151393,0.002193,0.272598,-0.009372,-0.020164,0.126221,-0.058719
KITCHENS,0.045213,0.525796,0.346781,0.423178,-0.132895,1.000000,0.930610,0.029022,0.279690,-0.108947,-0.104648,-0.106070,0.016768
NUM_UNITS,-0.000469,0.524724,0.330551,0.403431,-0.151393,0.930610,1.000000,0.013986,0.264009,-0.104280,-0.099460,-0.117125,0.037280
SALE_NUM,-0.015942,-0.034828,-0.024835,0.068399,0.002193,0.029022,0.013986,1.000000,-0.013354,0.017096,-0.028697,-0.012872,-0.009749
GBA,0.600576,0.679725,0.631736,0.682977,0.272598,0.279690,0.264009,-0.013354,1.000000,0.006706,-0.097850,0.172897,-0.398899
AYB,0.056041,-0.219367,-0.242955,-0.039087,-0.009372,-0.108947,-0.104280,0.017096,0.006706,1.000000,0.175098,-0.122697,0.032979
ZIPCODE,0.001467,-0.053109,-0.071962,-0.063410,-0.020164,-0.104648,-0.099460,-0.028697,-0.097850,0.175098,1.000000,-0.127103,0.023430
LATITUDE,0.044505,0.120238,0.144971,0.130588,0.126221,-0.106070,-0.117125,-0.012872,0.172897,-0.122697,-0.127103,1.000000,-0.499464
LONGITUDE,-0.095247,0.006756,0.028338,-0.184810,-0.058719,0.016768,0.037280,-0.009749,-0.398899,0.032979,0.023430,-0.499464,1.000000

In [9]:
import statsmodels.formula.api as smf

In [11]:
#Run a regression on above variables, except half-bathrooms and rooms
result = smf.ols('PRICE ~  SALE_NUM + GBA + AYB + ZIPCODE + LATITUDE + LONGITUDE + NUM_UNITS + KITCHENS + BATHRM + BEDRM' , data=df).fit()

In [12]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.512
Model:                            OLS   Adj. R-squared:                  0.512
Method:                 Least Squares   F-statistic:                     6055.
Date:                Fri, 22 Mar 2019   Prob (F-statistic):               0.00
Time:                        17:08:14   Log-Likelihood:            -8.3107e+05
No. Observations:               57804   AIC:                         1.662e+06
Df Residuals:                   57793   BIC:                         1.662e+06
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.959e+07   6.71e+06     -2.918      0.004   -3.27e+07   -6.43e+06
SALE_NUM    8.083e+04   1232.329     65.589      0.000    7.84e+04    8.32e+04
GBA          366.8170      3.346    109.626      0.000     360.259     373.375
AYB        -1288.5695     67.563    -19.072      0.000   -1420.994   -1156.145
ZIPCODE    -6678.5292    261.632    -25.526      0.000   -7191.329   -6165.730
LATITUDE    -1.94e+06    6.3e+04    -30.812      0.000   -2.06e+06   -1.82e+06
LONGITUDE  -3.001e+06   5.37e+04    -55.877      0.000   -3.11e+06    -2.9e+06
NUM_UNITS  -2.666e+05   6957.452    -38.319      0.000    -2.8e+05   -2.53e+05
KITCHENS    5.949e+04   6581.803      9.039      0.000    4.66e+04    7.24e+04
BATHRM      1.196e+05   2623.646     45.597      0.000    1.14e+05    1.25e+05
BEDRM      -3.882e+04   2247.115    -17.276      0.000   -4.32e+04   -3.44e+04
==============================================================================
Omnibus:                   105530.155   Durbin-Watson:                   1.579
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        656563797.991
Skew:                          12.928   Prob(JB):                         0.00
Kurtosis:                     524.473   Cond. No.                     7.67e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.67e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [13]:
#Remove the intercept - set coefficient to 0
result = smf.ols(formula='PRICE ~ SALE_NUM + GBA + AYB + ZIPCODE + LATITUDE + LONGITUDE + NUM_UNITS + KITCHENS + BATHRM + BEDRM- 1', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.745
Model:                            OLS   Adj. R-squared:                  0.744
Method:                 Least Squares   F-statistic:                 1.684e+04
Date:                Fri, 22 Mar 2019   Prob (F-statistic):               0.00
Time:                        17:09:09   Log-Likelihood:            -8.3107e+05
No. Observations:               57804   AIC:                         1.662e+06
Df Residuals:                   57794   BIC:                         1.662e+06
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
SALE_NUM    8.064e+04   1230.691     65.522      0.000    7.82e+04     8.3e+04
GBA          367.9343      3.324    110.680      0.000     361.419     374.450
AYB        -1247.5462     66.089    -18.877      0.000   -1377.081   -1118.011
ZIPCODE    -7313.7250    145.201    -50.370      0.000   -7598.320   -7029.130
LATITUDE   -1.977e+06   6.16e+04    -32.071      0.000    -2.1e+06   -1.86e+06
LONGITUDE   -2.93e+06   4.78e+04    -61.294      0.000   -3.02e+06   -2.84e+06
NUM_UNITS  -2.681e+05   6938.544    -38.642      0.000   -2.82e+05   -2.55e+05
KITCHENS    5.913e+04   6581.057      8.985      0.000    4.62e+04     7.2e+04
BATHRM      1.199e+05   2622.244     45.723      0.000    1.15e+05    1.25e+05
BEDRM       -3.84e+04   2242.606    -17.123      0.000   -4.28e+04    -3.4e+04
==============================================================================
Omnibus:                   105479.870   Durbin-Watson:                   1.579
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        655306551.260
Skew:                          12.914   Prob(JB):                         0.00
Kurtosis:                     523.974   Cond. No.                     8.13e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.13e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

From the above, we can deduce that the following features predict the price of properties:  number of sales, gross building area, actual year built, zip code, location (latitude + longitude), number of units in building, number of kitchens, bathrooms and bedrooms. 
The most relevant attributes are: zip code and actual year built.